/*** Slider ***/
#slider {
overflow: hidden;
}

#slider .flexslider {
background: none repeat scroll 0 0 transparent;
border: 0 none;
border-radius: 0;
box-shadow: none;
position: relative;
margin: 0;
}

#slider .slider-caption {
text-align: center;
position: absolute;
width: 100%;
margin-top: 160px;
color: #fff;
font-family: 'Oxygen', sans-serif;
}

#slider .slider-caption h1 {
text-shadow: 1px 1px #777;
font-size: 48px;
padding-bottom: 10px;
font-weight: 600;
color: #ed561a;
text-transform: uppercase;
}

#slider .slider-caption p {
font-size: 18px;
font-weight: 300;
color: #fff;
line-height: 15px;
}

#slider .slider-caption a {
margin-top: 20px;
text-decoration: none;
display: inline-block;
background-color: #ed561a;
width: 200px;
height: 40px;
text-align: center;
color: #fff;
line-height: 40px;
text-transform: uppercase;
font-size: 18px;
font-weight: 600;
}
#slider .flex-direction-nav a  {
text-align: center;
display: block;
border: 1px solid #fff;
width: 40px;
height: 40px;
line-height: 40px;
color: #fff;
margin: -20px 0 0;
position: absolute;
top: 50%;
z-index: 10;
overflow: hidden;
opacity: 0;
cursor: pointer;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
}
#slider .flex-direction-nav a:before  {
font-family: 'FontAwesome';
font-size: 32px;
display: inline-block;
content: '\f104';
}
#slider .flex-direction-nav a.flex-next:before  {
content: '\f105';
}
#slider .flexslider:hover .flex-prev {
opacity: 1;
left: 50px;
}
#slider .flexslider:hover .flex-next {
opacity: 1;
right: 50px;
text-align: center;
}
#slider .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
opacity: 1;
}
#slider .flex-direction-nav .flex-disabled {
opacity: 0!important;
filter:alpha(opacity=0);
cursor: default;
}
#slider .flex-control-paging li a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
border-radius: 20px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
cursor: pointer;
display: none;
height: 11px;
text-indent: -9999px;
width: 11px;
}
@media screen and (max-width: 990px) {
#slider .slider-caption {
display: none;
}
}

@media screen and (min-width: 768px) {
#slider .flexslider .slides img {
display: block;
margin: 0 auto;
width: 100%;
}
.flexslider .slides {
background-color: #eee;
}
}

@media screen and (max-width: 860px) {
#slider .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
#slider .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/*** End Slider ***/
